# Australia Trade Licence Check
`Website`: https://www.licensedtrades.com.au/

In [ ]:
pip install selenium

# Bulk Licenses Verification

In [348]:
import pandas as pd

df=pd.read_excel('Vic_Licences.xlsx')
#df.head()
df

  Licence number State
0          21234   VIC
1         103872   VIC
2     DB-M 31782   VIC
3     DB-U 36317   VIC
4     DB-M 26813   VIC
5         100326   VIC
6     DB-L 22208   VIC
7          43139   VIC

In [349]:
len(df)

8

In [350]:
licence_number_list = list(df['Licence number'])
licence_number_list

[21234,
 103872,
 'DB-M 31782',
 'DB-U 36317',
 'DB-M 26813',
 100326,
 'DB-L 22208',
 43139]

In [351]:
# Python program to convert a list to string
    
# Function to convert  
def listToString(s): 
    
    # initialize an empty string
    str1 = "" 
    
    # traverse in the string  
    for ele in s: 
        str1 += ele  
    
    # return string  
    return str1

In [352]:
import selenium
import time
from selenium import webdriver

from bs4 import BeautifulSoup
import pandas as pd

In [345]:
driver = webdriver.Chrome()

In [353]:
name=[]
status=[]
address=[]
lic_by=[]
lic_class=[]
start_date=[]
exp_date=[]
    
    
for i in range(len(licence_number_list)):
    driver.get('https://www.licensedtrades.com.au/')
    time.sleep(1)
    
    driver.find_element_by_xpath('/html/body/div[1]/div[1]/div[3]/div/form/div[1]/div[2]/input').send_keys(licence_number_list[i])
    driver.find_element_by_xpath('//*[@id="advanced_trigger"]').click()
    time.sleep(1)
    
    driver.find_element_by_xpath('//*[@id="advanced_section"]/div/div[3]/p[6]/input').click()
    driver.find_element_by_xpath('//*[@id="advanced_section"]/div/div[3]/p[2]/input').click()
    time.sleep(2)
    time.sleep(1)
    
    driver.find_element_by_xpath('/html/body/div[1]/div[1]/div[3]/div/form/div[1]/div[3]/input').click()
    time.sleep(1)
        
    driver.find_element_by_xpath('//*[@id="search_results_licence"]/div/div/div[1]/div/div[1]/div/p/a').click()
    time.sleep(1)
        
    page_source = driver.page_source
    soup =  BeautifulSoup(page_source, 'lxml')    
        
    name.append(driver.find_element_by_xpath("/html/body/div[3]/div[1]/div[4]/div/div[1]/div[1]/div/h3").text) #Business name
    
    status.append(driver.find_element_by_xpath("/html/body/div[3]/div[1]/div[4]/div/div[1]/div[1]/div/p/span").text) #Lic Status
    
    address.append(driver.find_element_by_xpath("/html/body/div[3]/div[1]/div[4]/div/div[1]/div[2]/p[1]").text) #address
    
    lic_by.append(driver.find_element_by_xpath("/html/body/div[3]/div[1]/div[4]/div/div[1]/div[2]/p[3]").text)
             
    try:
        licensed_class_b = [i.text for i in soup.findAll('td', {'class': 'bbssghl brssghl pls'})]
        licensed_class_b = [x for x in licensed_class_b if not isinstance(x, int)]
        for x in licensed_class_b:
            if x == ' - ':
                licensed_class_b.remove(x)
        converted_list = []
        for element in licensed_class_b:
            converted_list.append(element.strip())
        lic_class.append(converted_list)
    except:
        lic_class.append("-")
        continue
                                  
    try:
        start_date.append(driver.find_element_by_xpath("/html/body/div[3]/div[1]/div[4]/div/div[1]/div[4]/table/tbody/tr/td[2]").text)
    except:
        start_date.append("-")
                                  
    try:
        exp_date.append(driver.find_element_by_xpath("/html/body/div[3]/div[1]/div[4]/div/div[1]/div[4]/table/tbody/tr/td[3]").text)
    except:
        exp_date.append("-")
                                  

       
new_a=[]
for i in address:
    new_a.append((i.split(":"))[1].strip())    
    
    
new_lic_by=[]
for i in lic_by:
    new_lic_by.append((i.split(":"))[1].strip())     
            
            
print(licence_number_list)
print(name)
print(status)
print(new_a)
print(new_lic_by)
print(lic_class)
print(start_date)
print(exp_date)

[21234, 103872, 'DB-M 31782', 'DB-U 36317', 'DB-M 26813', 100326, 'DB-L 22208', 43139]
['Bryan Baumer', 'Peter Arden', 'Aaron Maiolo', 'Bryan Perry', 'Brian Richard', 'Richard Cawley', 'Mark Holland', 'Anthony Ryan']
['Inactive', 'Inactive', 'Current', 'Current', 'Current', 'Inactive', 'Current', 'Active']
['VIC', 'VIC', 'BULLA', 'CARISBROOK', 'EAST KEILOR', 'VIC', 'THURGOONA', 'VIC']
['VIC Plumbing Industry Commission', 'VIC Plumbing Industry Commission', 'VBA', 'VBA', 'VBA', 'VIC Plumbing Industry Commission', 'VBA', 'VIC Plumbing Industry Commission']
[[], [], ['Domestic Builder - Manager'], ['Domestic Builder - Unlimited'], ['Domestic Builder - Manager'], [], ['Domestic Builder - Limited'], ['Drainage', 'Fire protection - restricted to hydrants & hose reels', 'Irrigation (non-agricultural)', 'Sanitary', 'Water supply', 'Water supply - restricted to domestic hot water services']]
['-', '-', '-', '-', '-', '-', '-', '-']
['-', '-', '28/11/2017', '20/12/2013', '11/11/2016', '-', '10/10/2013', '-']

In [354]:
# initialise data of lists.
data = {'Licence number':licence_number_list, 'Name': name, 'Status':status, 'Address':new_a, 'Licensed By': new_lic_by, 'License Class':lic_class, 'Start date':start_date, 'Expiry date':exp_date}
 
# Create DataFrame
df = pd.DataFrame(data)
 
# Print the output.
df

,Licence number,Name,Status,Address,Licensed By,License Class,Start date,Expiry date
0,21234,Bryan Baumer,Inactive,VIC,VIC Plumbing Industry Commission,[],-,-
1,103872,Peter Arden,Inactive,VIC,VIC Plumbing Industry Commission,[],-,-
2,DB-M 31782,Aaron Maiolo,Current,BULLA,VBA,[Domestic Builder - Manager],-,28/11/2017
3,DB-U 36317,Bryan Perry,Current,CARISBROOK,VBA,[Domestic Builder - Unlimited],-,20/12/2013
4,DB-M 26813,Brian Richard,Current,EAST KEILOR,VBA,[Domestic Builder - Manager],-,11/11/2016
5,100326,Richard Cawley,Inactive,VIC,VIC Plumbing Industry Commission,[],-,-
6,DB-L 22208,Mark Holland,Current,THURGOONA,VBA,[Domestic Builder - Limited],-,10/10/2013
7,43139,Anthony Ryan,Active,VIC,VIC Plumbing Industry Commission,"[Drainage, Fire protection - restricted to hyd...",-,-

In [ ]:
driver.quit()